.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 2;
}

.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 80%;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 0.5px;
}

@media (orientation: landscape) {
    .search input {
        width: 100%;
    }
}